

{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Post Page</title>
  </head>
  <body>
    <h1>Create new post</h1>
    <form action="/blog/" method="post">
      <label for="new_title">Title:</label><br>
      <input id="new_title" type="text" maxlength=100 name="new_title"><br>
      <label for="new_body">Body:</label><br>
      <textarea id="new_body" name="new_body" style="width:300px;height:300px;"></textarea><br>
      {% csrf_token %}
      <input type="submit" value="Create Post">
    </form>
  </body>
</html>
{% endblock %}

<!-- This is the template for creating posts. -->
